@import url('https://fonts.cdnfonts.com/css/nimbus-sans-l');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    font-family: 'Nimbus Sans L', Arial, sans-serif;
    background-color:#F2EFE9;
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch; /* ensures full width */
}

header {
    background-color:#F2EFE9;    
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom:1px #222 solid;
}

hr {
    width:100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: normal;
    padding: 3rem 0;
}

h3, h4 {
    font-weight: normal;
}

.nav-wrapper a,
.nav-wrapper a:visited,
.nav-wrapper a:active {
    color: #222;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1.2rem; /* controls space between items */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.25rem 3rem;
}

.link-black:link {
    color: black; /* Sets the color for visited links to be the same as unvisited */
    text-decoration: none;
}

.link-black:visited {
    color: black; /* Sets the color for visited links to be the same as unvisited */
    text-decoration: none;

}


.logo {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.menu li {
    margin-left:1.25rem; /* vertical | horizontal spacing */
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    display: inline-block;
}

.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #222;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

.menu a:hover {
    color: #000;
}

/* Mobile menu */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

.main-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem 1rem;
    width: 100%; /* prevents narrowing */
    flex: 1
}

.main-content p{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.sidebox{
    border: 1px solid #000;
    max-width: 25%;
    position: -webkit-sticky;
    position: sticky;
    padding: 0 1rem;
    top: 10rem;
    flex-grow: 1;
}

.sidebox-imgcol{
    width: 33.33%;
    float: left;
    text-align: center;
}

.sidebox-imgcol img{
    height: 50px;
}

.sidebox-imgrow::after{
    content:"";
    clear:both;
    display: table;
    padding: 0.5rem 0;
}

.content-side {
    width:75%;
    display: flex;
    padding-right: 2rem;
    flex-direction: column;
}

.distributed-container {
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap; /* Allows columns to wrap to the next line */
    /* Adds space between columns */
}

.distributed-column {
    flex: 1 1 0; /* flex-grow, flex-shrink, flex-basis */
    box-sizing: border-box; /* Includes padding in the element's total width */
    text-align: center;
}

.distributed-column p{
    margin: auto 0;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.quote {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman';
    padding: 1rem 0;
}

footer{
    background-color: #000; /* Sets the background to black */
    color: #fff; /* Sets the text color to white for contrast */
    padding: 0;
    font-size: 0.9rem;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
}


footer *{   
    padding: 0px;
    line-height: 1;
    max-width: none;
}

.foot-element {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 3rem;
}

.foot-column-25 {
    float: left;
    width: 25%;
}

.foot-column-25 p{
    margin-top: 1rem;
}

.foot-column-50 {
    float: left;
    width: 50%;
    object-fit: cover;
}

.project-block {
    height: 12rem;
}

/* Clear floats after the columns */
.foot-row:after {
  content: "";
  display: table;
  clear: both;
}

.foot-row{
    padding: 0.75rem;
    border-radius: 15px;
}

.resume-block {
    transform: translateY(24px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.foot-row:hover {
  box-shadow: 0 0 20px grey;
}

.resume-block p, .resume-block h4{
    margin: 0;
    font-weight: normal;
}

.inline-list{
    width: 95%;
    margin: 0.5rem auto;
}

.mini-logo{
    border: 1px dashed #000;
}


.contain-image {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-cover-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project-content-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.project-div{
    padding-bottom: 1rem;
}
.project-div p{
    margin: 0.5rem 0;
}

@media screen and (max-width: 1100px) {
    .foot-column-25, .foot-column-50{
        width: 100%;
        float: none;
        margin-bottom: 1rem;
    }
    .foot-row {
        display: block;
        flex-direction: column;
    }

    .foot-element {
        padding: 0 3rem;
    }
    .distributed-container {
        flex-direction: column; 
    }
    .distributed-column p{
        padding-bottom: 0.5rem; 
    }
    
}

@media (max-width: 600px) { 
    .menu {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 4.6rem;
    right: 0.1rem;
    border: 1px solid #ccc;
    padding: 2.5%;
    }

    .menu.show {
    display: flex;
    }

    .menu-toggle {
    display: block;
    }
    h1 {
        font-size: 3rem;
        padding: 3rem 1rem;
        overflow-wrap: break-word;
    }
    .project-content-image{
        height: 150px;
    }
}
